.tab-pane {
    height: 300px;
    overflow-y: scroll;
}

.label-POST {
    background-color: red;
}

.label-GET {
    background-color: green;
}

.request-path {
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: bold;
}