<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- reqbot stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reqbot.css}" href="/css/reqbot.css"/>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">reqbot</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Buckets</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li th:each="b : ${buckets}" th:class="${b == bucket}? active">
                                <a th:href="@{/web/bucket/{bucket}/view(bucket = ${b})}"
                                   th:text="${b}">bucket</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Request List for <span th:text="${bucket}">bucket</span> bucket</h2>

            <div class="requests">
                <div id="request-1" th:id="'request-' + ${request.uuid}" class="request" th:each="request : ${requests}">
                    <h3>
                        <span class="label label-default" th:classappend="'label-' + ${request.method}" th:text="${request.method}">method</span> @
                        <span th:text="${request.timestamp}">timestamp</span>
                    </h3>

                    <div class="request-path">
                        <span th:text="${request.path}">path</span>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1-headers" th:href="'#tab-' + ${request.uuid} + '-headers'"
                               data-toggle="tab">headers</a>
                        </li>
                        <li th:if="${request.queryParameters.size() > 0}">
                            <a href="#1-queryparameters" th:href="'#tab-' + ${request.uuid} + '-queryparameters'"
                               data-toggle="tab">query parameters</a>
                        </li>
                        <li>
                            <a href="#1-body" th:href="'#tab-' + ${request.uuid} + '-body'" data-toggle="tab">body</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="1-headers" th:id="'tab-' + ${request.uuid} + '-headers'">
                            <div class="request-headers">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Header</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="header : ${request.headers}">
                                        <td th:text="${header.key}">key</td>
                                        <td th:text="${header.value}">value</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="1-queryparameters"
                             th:id="'tab-' + ${request.uuid} + '-queryparameters'">
                            <div class="request-queryparameters">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="param : ${request.queryParameters}">
                                        <td th:text="${param.key}">key</td>
                                        <td th:text="${param.value}">value</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="1-body" th:id="'tab-' + ${request.uuid} + '-body'">
                            <code th:text="${request.body}">request body</code>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
